/* Remove spinner for input control with numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.alert-error {
    color: #b53337;
}

.sidebar-title {
    font-size: 1.2em;
}

.close-button {
    position: absolute;
    right: 1.5em;
    width: 10px;
    height: 10px;
    font-size: 2em;
    cursor: pointer;
}

.action-button {
    margin-left: 5px;
    float: right;
    border-radius: 4px;
}
