<p-sidebar [(visible)]="isVisible" position="right" styleClass="ui-sidebar-lg" blockScroll="true">
  Add a new place
  <div *ngIf="place">
    <div class="ui-g-12">
      <div class="ui-g-6">
        <span class="ui-fluid">
          <label>Name</label>
          <input type="text" pInputText placeholder="Name of place" [(ngModel)]="place.Name">
        </span>
      </div>
      <div class="ui-g-6">
        <span class="ui-fluid">
          <label>Description</label>
          <input type="text" pInputText placeholder="Description of place" [(ngModel)]="place.Description">
        </span>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-6">
        <span class="ui-fluid">
          <label>Longitude</label>
        <input type="number" pInputText placeholder="Longitude" [(ngModel)]="place.Longitude">
        </span>
      </div>
      <div class="ui-g-6">
        <span class="ui-fluid">
          <label>Latitude</label>
        <input type="text" pInputText placeholder="Latitude" [(ngModel)]="place.Latitude">
        </span>
      </div>
    </div>

  </div>
</p-sidebar>
