@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/rhea/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';


* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif
}

/* Remove spinner for input control with numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

.alert-error {
  color: #b53337;
}
