<p-table *ngIf="places" [value]="places" [responsive]="true"
>
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Longitude</th>
          <th>Latitude</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-place>
      <tr (click)="onRowSelect(place)">
          <td class="ui-column-title">{{place.Name}}</td>
          <td class="ui-column-title">{{place.Description}}</td>
          <td class="ui-column-title">{{place.Longitude}}</td>
          <td class="ui-column-title">{{place.Latitude}}</td>
      </tr>
  </ng-template>
</p-table>
<!-- div *ngIf="options">
  <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'320px'}" ></p-gmap>
</div -->
