.app-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin: auto;
  width: 100%;
  text-align: center;
}

.addnew-button {
  border: solid black 1px;
}

.addnew-button:hover {
  border: solid black 1px;
}
