<p-sidebar [(visible)]="isVisible" position="right" styleClass="ui-sidebar-lg" blockScroll="true">
  <div class="ui-g-12">
    <div *ngIf="isAddNewMode">
      <div class="ui-g-12">
        Add a new Location
      </div>
      <button pButton type="button" label="Save" icon="pi pi-save" (click)="saveLocation($event)"
      [disabled]="!canSaveLocation"
      ></button>
    </div>
    <div *ngIf="!isAddNewMode">
      <div class="ui-g-12">
        Update a Location
      </div>
      <button pButton type="button" label="Save" icon="pi pi-save" (click)="updateLocation($event)"
      [disabled]="!canSaveLocation"
      ></button>
      <button pButton type="button" label="Delete" icon="pi pi-times" (click)="deleteLocation($event)"
      [disabled]="!canSaveLocation"
      ></button>
    </div>
  </div>

  <div *ngIf="location">
    <div class="ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Name</label>
          <input type="text" pInputText placeholder="Name of location" [(ngModel)]="location.Name">
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Description</label>
          <input type="text" pInputText placeholder="Description of location" [(ngModel)]="location.Description">
        </span>
      </div>
    </div>
    <div class="ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Longitude</label>
        <input type="number" pInputText placeholder="Longitude" [(ngModel)]="location.Longitude" step="any">
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Latitude</label>
        <input type="text" pInputText placeholder="Latitude" [(ngModel)]="location.Latitude">
        </span>
      </div>
    </div>

  </div>
  <app-map [location]="location"></app-map>
</p-sidebar>
