<p-sidebar
  [(visible)]="isVisible"
  position="right"
  styleClass="ui-sidebar-lg"
  blockScroll="true"
>
  <div class="ui-g-12">
    <div *ngIf="isAddNewMode">
      <div class="ui-g-12">
        Add a new Location
      </div>
      <button
        pButton
        type="button"
        label="Save"
        icon="pi pi-save"
        (click)="saveLocation($event)"
        [disabled]="!canSaveLocation"
      ></button>
    </div>
    <div *ngIf="!isAddNewMode">
      <div class="ui-g-12">
        Update a Location
      </div>
      <button
        pButton
        type="button"
        label="Save"
        icon="pi pi-save"
        (click)="updateLocation($event)"
        [disabled]="!canSaveLocation"
        style="margin:5px;"
      ></button>
      <button
        pButton
        type="button"
        label="Delete"
        icon="pi pi-times"
        (click)="deleteLocation($event)"
        [disabled]="false"
      ></button>
    </div>
  </div>

  <div *ngIf="location">
    <div class="ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Name</label>
          <input
            type="text"
            required
            pInputText
            placeholder="Name of location"
            [(ngModel)]="location.Name"
            (change)="onInputChanged($event)"
          />
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Description</label>
          <input
            type="text"
            pInputText
            placeholder="Description of location"
            [(ngModel)]="location.Description"
          />
        </span>
      </div>
    </div>
    <div class="ui-fluid">
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          {{longitudeRange.max}}
          <label>Longitude</label>
          <input
            type="number"
            step="0.000000000000001"
            required
            min="{{longitudeRange.min}}"
            max="{{longitudeRange.max}}"
            pInputText
            placeholder="Longitude"
            [(ngModel)]="location.Longitude"
            (change)="onInputChanged($event)"
          />
        </span>
      </div>
      <div class="ui-g-12 ui-md-6">
        <span class="ui-fluid">
          <label>Latitude</label>
          <input
            type="number"
            step="0.000000000000001"
            required
            min="{{latitudeRange.min}}"
            max="{{latitudeRange.max}}"
            pInputText
            placeholder="Latitude"
            [(ngModel)]="location.Latitude"
            (change)="onInputChanged($event)"
          />
        </span>
      </div>
    </div>
  </div>
  <app-map [location]="location"></app-map>
</p-sidebar>
